.rs-sidenav.rs-sidenav-default {
	background: #404453;
}

.rs-btn-toggle {
	background: #607d8b !important;
	margin: 5% 0 20px 10% !important;
}

.rs-sidenav.rs-sidenav-default.rs-sidenav-collapse-out .rs-btn-toggle {
	width: 80%;
}

.rs-btn-toggle-checked {
	background: #607d8b !important;
}

.rs-btn-toggle-inner,
.rs-btn-toggle-inner:after {
	color: #e0f7fa !important;
}

li.rs-nav-item:hover,
li.rs-nav-item:visited,
li.rs-nav-item:focus,
a.rs-nav-item-content:hover,
a.rs-nav-item-content:visited,
a.rs-nav-item-content:focus {
	background: #607d8b !important;
}

a.rs-nav-item-content {
	color: #e0f7fa !important;
}

.rs-sidenav.rs-sidenav-default .rs-nav-item {
	margin-bottom: 20px !important;
}

.rs-nav-item,
.rs-icon {
	font-size: 20px !important;
	font-weight: 700 !important;
}
